.header{
    height:55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom: rgb(228,228,228);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 1; 
}
.left-section{
    
    display: flex;
    align-items: center;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 45px;
    max-width:500px;
    display: flex;
    align-items: center;
    
}

.right-section{
    width:180px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
}
.hamburger-menu{
    height:24px;
    margin-left: 24px;
    margin-right:24px;
    
}
.hamburger-menu{
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
}
.youtube-logo{
    cursor: pointer;
}
.search-button{
    width:64px;
    height:39px;
    border-style:solid;
    border-width:1px;
    border-color: rgb(192, 192, 192);
    background-color: #f7f7f7;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    margin-left: -1px;  
}
.search-button{
    cursor: pointer;
}
.voice-button{
    height:40px;
    width:40px;
    background-color: #f8f8f8;
    border-style:none;
    border-radius: 6pc;
    margin-left: 10px;
}
.voice-button{
    cursor: pointer;
}
.search-bar{
    height: 36px;
    width: px;
    flex:1;
    font-size: 16px;
    padding-left:10px;
    font-family: roboto,arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.search-bar::placeholder{
    font-family:roboto,arial;
    font-size: 16px;
    

}
.image-search{
    height: 25px;
    background-color: #f7f7f7;
    margin-top: 4px;
    
}
.voice-search{
    height: 24px;
    margin-top: 4px;
}
.upload{
    height: 24px;
}
.youtube-apps{
    height: 24px;
}
.notifications{
    height: 24px;

}
.channel-pfp{
    height: 32px;
    border-radius: 16px;
}
.sidebar{
    position: fixed;
    top:55px;
    left:0px;
    width:72px;
    bottom:0px;
    background-color: white;
    z-index: 3;
    padding-top: 5px;
}
.home{
    height:74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    

}
.home:hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}
.home-image{
    height:24px;
    margin-bottom: 4px;

    
}
.notifications-div{
    position: relative;

}
.notification-badge{
    position:absolute;
    color: white;
    background-color: rgb(200,0,0);
    top:11px;
    right:76px;
    font-family: roboto, arial;
    font-size:10px;
    padding-left:5px;
    padding-bottom: 2px;
    padding-top:2px;
    padding-right:5px;
    border-radius: 10px;
}
.home div{
    font-family:roboto,arial;
    font-size:10px;
    
    
}

